link(rel="stylesheet",href="stylesheets/myPapers.css")
link(rel="stylesheet",href="stylesheets/PersianCalendar.css")
link(rel="stylesheet",href="font-awesome/css/font-awesome.min.css")
div#subpageContainer
	.wrapper
		div
			button.btn.btn-primary(data-toggle="modal",data-target="#regModal")
				|ثبت برگه جدید
			.papersHost(ng-controller="papersCtrl")
				.papersheader
					.col.col1.center
						span ردیف
					.col.col2.center
						span تاریخ
					.col.col3.center
						span بازه زمانی
					.col.col4.right
						span وضعیت
				.paper(ng-repeat="paper in papers")
					//- ,class="{{ ? 'readonly':''}}"
					.status(class="s{{paper.status}}")
					.col.col1.center
						span {{$index + 1}}
					.col.col2.center
						span {{paper.Date}}
					.col.col3.center
						span از {{paper.fromHour}} الی {{paper.toHour}}
					.col.col4.right
						span {{paper.statusText}}
					.col.col5(ng-if="paper.status == 0")
						a.edit(href="#")
							span.fa.fa-pencil-square-o
						a.delete(href="#",data-paperid="{{paper._id}}")
							span.fa.fa-trash-o
			.notificationsHost(ng-controller="alertsCtrl")
				.alert.fade.in.alert-dismissible(ng-repeat="alert in alerts",role="alert",class="{{alert.helperClass}}")
					button.close(type="button",data-dismiss="alert")
						span &times;
					span {{alert.text}}

			.modal.fade#regModal(role="dialog",ng-controller="newPaperCtrl")
				.modal-dialog(role="document",style="width:770px;")
					.modal-content
						.modal-header
							button.close(type="button",data-dismiss="modal",aria-label="Close")
								span(aria-hidden="true") 
									|&times;
							h4.modal-title#myModalLabel ثبت برگ خروج موقت شخصی
						.modal-body
							form#newPaperForm
								img(src="/images/Paper.jpg",style="width:750px; opacity:0.3;")
								select#unit(name="Unit")
									option(value="سعید آباد")
										|سعید آباد
								#date
									input(name="Date",data-prg-date="datePicker",value="1394/07/22",type="text")
									span.fa.fa-calendar(data-prg-date="datePicker")
								// input#serial
								span#fullname
									|#{employee.Name}
								span#personalCode
									|#{user.UserId}
								span#partName
									|#{employee.partName}
								span#partId
									|#{employee.PartId}
								input#fromDate(name="fromHour")
								input#toDate(name="toHour")
								input.hidden(name="Name",value="#{employee.Name}")
								input.hidden(name="UserId",value="#{user.UserId}")
								input.hidden(name="partName",value="#{employee.partName}")
								input.hidden(name="PartId",value="#{employee.PartId}")
						div.modal-footer
							button.btn.btn-default(type="button",data-dismiss="modal") انصراف
							button.btn.btn-primary#btnReg(type="button") ثبت
	script(src="scripts/PersianCalendar.js")
	script(src="scripts/myPapers.js")