link(rel="stylesheet",href="stylesheets/myPapers.css")
link(rel="stylesheet",href="stylesheets/PersianCalendar.css")
link(rel="stylesheet",href="font-awesome/css/font-awesome.min.css")
div#subpageContainer(ng-app="myPapersApp")
	.wrapper
		div
			button(data-toggle="modal",data-target="#regModal")
				|ثبت برگه جدید
			#regModal(role="dialog",ng-controller="newPaperCtrl")
				.modal-dialog(role="document",style="width:770px;")
					.modal-content
						.modal-header
							button.close(type="button",data-dismiss="modal",aria-label="Close")
								span(aria-hidden="true") 
									|&times;
							h4.modal-title#myModalLabel ثبت برگ خروج موقت شخصی
						.modal-body
							img(src="/images/Paper.jpg",style="width:750px; opacity:0.3;")
							select#unit(name="Unit")
								option(value="سعید آباد")
									|سعید آباد
							#date
								input(name="Date",data-prg-date="datePicker",value="1394/07/22",type="text")
								span.fa.fa-calendar(data-prg-date="datePicker")
							// input#serial
							span#fullname
								|#{employee.Name}
							span#personalCode
								|#{user.UserId}
							span#partName
								|#{employee.partName}
							span#partId
								|#{employee.PartId}
							input#fromDate
							input#toDate
							input.hidden(name="Name",value="#{employee.Name}")
							input.hidden(name="UserId",value="#{user.UserId}")
							input.hidden(name="partName",value="#{employee.partName}")
							input.hidden(name="PartId",value="#{employee.PartId}")
							// input#actFromDate
							// input#actToDate
							// span#duration
							// span#delay
						div.modal-footer
							button.btn.btn-default(type="button",data-dismiss="modal") انصراف
							button.btn.btn-primary(type="button") ثبت
	script(src="scripts/PersianCalendar.js")
	script(src="scripts/myPapers.js")